.websiteBody{
  margin: 0;
}.Page{
  display:block;
  margin:auto;
  width:100%;
  height:auto;
  pointer-events:auto;
}
.Page-outer{
  pointer-events:none;
  z-index:1;
}
.Frame{
  position:relative;
  z-index:2;
  pointer-events:none;
  width:100%;
  margin-left:0;
  height:1024px;
  min-width:200px;
  max-width:1440px;
  margin:auto;
  background-color:rgba(255, 255, 255, 1);
  overflow:hidden;
}
.Frame-outer{
  pointer-events:none;
  z-index:2;
}
.image-2022-03-30-12-{
  position:relative;
  z-index:3;
  pointer-events:none;
  margin-left:0px;
  width:1440px;
  min-width:1440px;
  height:1024px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:1024px;
  background-image: url("image_2022-03-30_12-10-11.png");
  background-image:url("image_2022-03-30_12-10-11.png");
}
.image-2022-03-30-12--outer{
  pointer-events:none;
  z-index:3;
  position:relative;
  background-image:url("image_2022_03_30_12_10_11_1.png");
  display:flex;
}
.Ecommerce{
  position:relative;
  z-index:9;
  pointer-events:none;
  margin-left:85px;
  width:199px;
  min-width:199px;
  margin-top:-996px;
  margin-bottom:948px;
  min-height:48px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(215, 128, 35, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:800;
  font-size:32px;
  line-height:48px;
}
.Ecommerce-outer{
  pointer-events:none;
  z-index:9;
  position:relative;
  display:flex;
}
.Line-5{
  position:relative;
  z-index:26;
  pointer-events:none;
  transform:rotate(0.03978872982156914deg);
  margin-left:0px;
  width:1440px;
  min-width:1440px;
  margin-top:-995px;
  margin-bottom:995px;
  min-height:undefinedpx;
  border:1px solid rgba(0, 0, 0, 1);
}
.Line-5-outer{
  pointer-events:none;
  z-index:26;
  position:relative;
  display:flex;
}
.Rectangle-2{
  position:relative;
  z-index:4;
  pointer-events:none;
  margin-left:1045px;
  width:190px;
  min-width:190px;
  height:35px;
  margin-top:-990px;
  margin-bottom:955px;
  min-height:35px;
  background-color:rgba(58, 53, 84, 1);
  border-radius:30px;
}
.Rectangle-2-outer{
  pointer-events:none;
  z-index:4;
  position:relative;
  display:flex;
}
.Customer{
  position:relative;
  z-index:18;
  pointer-events:none;
  margin-left:928px;
  width:97px;
  min-width:97px;
  margin-top:-988px;
  margin-bottom:956px;
  min-height:32px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(215, 128, 35, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:400;
  font-size:17.1299991607666px;
  line-height:24.80000114440918px;
}
.Customer-outer{
  pointer-events:none;
  z-index:18;
  position:relative;
  display:flex;
}
.Product{
  position:relative;
  z-index:17;
  pointer-events:none;
  margin-left:821px;
  width:85px;
  min-width:85px;
  margin-top:-988px;
  margin-bottom:956px;
  min-height:32px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(215, 128, 35, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:400;
  font-size:18px;
  line-height:27.200000762939453px;
}
.Product-outer{
  pointer-events:none;
  z-index:17;
  position:relative;
  display:flex;
}
.Home{
  position:relative;
  z-index:8;
  pointer-events:none;
  margin-left:714px;
  width:85px;
  min-width:85px;
  margin-top:-988px;
  margin-bottom:956px;
  min-height:32px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(215, 128, 35, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:400;
  font-size:18px;
  line-height:27.200000762939453px;
}
.Home-outer{
  pointer-events:none;
  z-index:8;
  position:relative;
  display:flex;
}
.Line-4{
  position:relative;
  z-index:25;
  pointer-events:none;
  transform:rotate(0.03978872982156914deg);
  margin-left:0px;
  width:1440px;
  min-width:1440px;
  margin-top:-947px;
  margin-bottom:947px;
  min-height:undefinedpx;
  border:1px solid rgba(0, 0, 0, 1);
}
.Line-4-outer{
  pointer-events:none;
  z-index:25;
  position:relative;
  display:flex;
}
.Buy-whatever-you-wan{
  position:relative;
  z-index:24;
  pointer-events:none;
  margin-left:730px;
  width:699px;
  min-width:699px;
  margin-top:-831px;
  margin-bottom:690px;
  min-height:141px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(215, 128, 35, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:600;
  font-size:64px;
  line-height:96px;
}
.Buy-whatever-you-wan-outer{
  pointer-events:none;
  z-index:24;
  position:relative;
  display:flex;
}
.Unlimited-Shoping-Ex{
  position:relative;
  z-index:13;
  pointer-events:none;
  margin-left:756px;
  width:546px;
  min-width:546px;
  margin-top:-637px;
  margin-bottom:583px;
  min-height:54px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:600;
  font-size:36px;
  line-height:54.400001525878906px;
}
.Unlimited-Shoping-Ex-outer{
  pointer-events:none;
  z-index:13;
  position:relative;
  display:flex;
}
/*.Rectangle-4 {
  width: 246px;
  height: 49px;
  margin: 23px 305px 223px 79px;
  padding: 8px 60px 9px 63px;
  border: solid 1px #000;
  background-color: #d78023;
}*/
.Rectangle-4{
  position:relative;
  z-index:19;
  pointer-events:none;
  margin-left:878px;
  width:246px;
  min-width:246px;
  height:49px;
  margin-top:-522px;
  margin-bottom:473px;
  min-height:49px;
  background-color: #d78023;
}
.Rectangle-4-outer{
  pointer-events:none;
  z-index:19;
  position:relative;
  display:flex;
}
.Buy-Now-{
  position:relative;
  z-index:20;
  pointer-events:none;
  margin-left:941px;
  width:123px;
  min-width:123px;
  margin-top:-514px;
  margin-bottom:482px;
  min-height:32px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:600;
  font-size:25px;
  line-height:37.60000228881836px;
}
.Buy-Now--outer{
  pointer-events:none;
  z-index:20;
  position:relative;
  display:flex;
}
.Rectangle-7{
  position:relative;
  z-index:7;
  pointer-events:none;
  margin-left:419px;
  width:295px;
  min-width:295px;
  height:283px;
  margin-top:-284px;
  margin-bottom:1px;
  min-height:283px;
  background-color:rgba(215, 128, 35, 1);
  backdrop-filter:blur(90px);
  -webkit-backdrop-filter:blur(90px);
  border:1px solid rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-radius:40px;
}
.Rectangle-7-outer{
  pointer-events:none;
  z-index:7;
  position:relative;
  display:flex;
}
.Rectangle-6{
  position:relative;
  z-index:6;
  pointer-events:none;
  margin-left:732px;
  width:295px;
  min-width:295px;
  height:283px;
  margin-top:-283px;
  margin-bottom:0px;
  min-height:283px;
  background-color:rgba(215, 128, 35, 1);
  backdrop-filter:blur(90px);
  -webkit-backdrop-filter:blur(90px);
  border:1px solid rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-radius:40px;
}
.Rectangle-6-outer{
  pointer-events:none;
  z-index:6;
  position:relative;
  display:flex;
}
.Rectangle-5{
  position:relative;
  z-index:5;
  pointer-events:none;
  margin-left:1044px;
  width:295px;
  min-width:295px;
  height:283px;
  margin-top:-283px;
  margin-bottom:0px;
  min-height:283px;
  background-color:rgba(215, 128, 35, 1);
  backdrop-filter:blur(90px);
  -webkit-backdrop-filter:blur(90px);
  border:1px solid rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-radius:40px;
}
.Rectangle-5-outer{
  pointer-events:none;
  z-index:5;
  position:relative;
  display:flex;
}
.Easy-Shopping{
  position:relative;
  z-index:12;
  pointer-events:none;
  margin-left:999px;
  width:400px;
  min-width:400px;
  margin-top:-225px;
  margin-bottom:175px;
  min-height:50px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:600;
  font-size:33px;
  line-height:48.79999923706055px;
}
.Easy-Shopping-outer{
  pointer-events:none;
  z-index:12;
  position:relative;
  display:flex;
}
.Quality-Guidance{
  position:relative;
  z-index:11;
  pointer-events:none;
  margin-left:703px;
  width:350px;
  min-width:350px;
  margin-top:-225px;
  margin-bottom:175px;
  min-height:50px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:600;
  font-size:33px;
  letter-spacing:-0.825px;
  line-height:48.79999923706055px;
}
.Quality-Guidance-outer{
  pointer-events:none;
  z-index:11;
  position:relative;
  display:flex;
}
.Fast-Delivery{
  position:relative;
  z-index:10;
  pointer-events:none;
  margin-left:362px;
  width:400px;
  min-width:400px;
  margin-top:-225px;
  margin-bottom:175px;
  min-height:50px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:600;
  font-size:33px;
  line-height:48.79999923706055px;
}
.Fast-Delivery-outer{
  pointer-events:none;
  z-index:10;
  position:relative;
  display:flex;
}
.Our-service-is-moder{
  position:relative;
  z-index:16;
  pointer-events:none;
  margin-left:1075px;
  width:269px;
  min-width:269px;
  margin-top:-177px;
  margin-bottom:80px;
  min-height:97px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:400;
  font-size:18px;
  line-height:27.200000762939453px;
}
.Our-service-is-moder-outer{
  pointer-events:none;
  z-index:16;
  position:relative;
  display:flex;
}
.Line-3{
  position:relative;
  z-index:23;
  pointer-events:none;
  transform:rotate(6.465831034147029e-8deg);
  margin-left:1070px;
  width:243px;
  min-width:243px;
  margin-top:-173px;
  margin-bottom:173px;
  min-height:undefinedpx;
  border:1px solid rgba(255, 255, 255, 1);
}
.Line-3-outer{
  pointer-events:none;
  z-index:23;
  position:relative;
  display:flex;
}
.Line-2{
  position:relative;
  z-index:22;
  pointer-events:none;
  transform:rotate(6.465831034147029e-8deg);
  margin-left:756px;
  width:243px;
  min-width:243px;
  margin-top:-173px;
  margin-bottom:173px;
  min-height:undefinedpx;
  border:1px solid rgba(255, 255, 255, 1);
}
.Line-2-outer{
  pointer-events:none;
  z-index:22;
  position:relative;
  display:flex;
}
.Line-1{
  position:relative;
  z-index:21;
  pointer-events:none;
  transform:rotate(6.465831034147029e-8deg);
  margin-left:442px;
  width:243px;
  min-width:243px;
  margin-top:-173px;
  margin-bottom:173px;
  min-height:undefinedpx;
  border:1px solid rgba(255, 255, 255, 1);
}
.Line-1-outer{
  pointer-events:none;
  z-index:21;
  position:relative;
  display:flex;
}
.We-ensure-that-mater{
  position:relative;
  z-index:15;
  pointer-events:none;
  margin-left:756px;
  width:269px;
  min-width:269px;
  margin-top:-163px;
  margin-bottom:66px;
  min-height:97px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:400;
  font-size:18px;
  line-height:27.200000762939453px;
}
.We-ensure-that-mater-outer{
  pointer-events:none;
  z-index:15;
  position:relative;
  display:flex;
}
.Opening-hours--Mon--{
  position:relative;
  z-index:14;
  pointer-events:none;
  margin-left:441px;
  width:269px;
  min-width:269px;
  margin-top:-163px;
  margin-bottom:66px;
  min-height:97px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:400;
  font-size:18px;
  line-height:27.200000762939453px;
}
.Opening-hours--Mon---outer{
  pointer-events:none;
  z-index:14;
  position:relative;
  display:flex;
}
